body {
	font-family: 'Quando', serif;
	color: white;
	background: url('blurred-red.jpg') no-repeat;
	text-align: center;
	font-size: 1.1em;
	padding: 0 25px;
}

.container {
	margin: 130px auto;
	max-width: 1200px;
}

p {
	margin: 50px 0;
}

img.s2w {
	width: 350px;
	max-width: 100%;
}

form label {
	display: none;
}

button {
	padding: 0;
	background-color: #bada55;
}

form input, button {
	box-sizing: border-box;
	height: 45px;
	border: none;
	padding: 10px;
}

form input {
	color: black;
}


@media all and (max-width: 700px) {
	form input, button {
		display: block;
		width: 100%;
	}
	form input:nth-of-type(1) {
		margin-bottom: 10px;
	}
	form input:nth-of-type(2) {
		margin-bottom: 20px;
	}
	form {
		width: 350px;
		max-width: 100%;
		margin: 0 auto;
	}
}